apiVersion: apps/v1
kind: Deployment
metadata:
  name: will-dp
  namespace: dev
  labels:
    app: will-dp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: will-dp
  template:
    metadata:
      labels:
        app: will-dp
    spec:
      containers:
        - name: will-dp
          image: "wil42/playground:v2"
          ports:
            - containerPort: 8888
---
apiVersion: v1
kind: Service
metadata:
  name: will-dp-service
spec:
  selector:
    app: will-dp
  ports:
    - protocol: TCP
      port: 8888
      targetPort: 8888
  type: LoadBalancer
